<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="strSql"
            connectionString="Data Source=192.168.2.236;Initial Catalog=dpcdata;User ID=sa;Password=All_View_Consulting_2014@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<!--< /*配置app.config*/>-->
</configuration>